.title {
  background: var(--purple);
  color: var(--white);
  box-shadow: -4px 4px 0 var(--white);
  padding-block: 4px;
  padding-inline: 8px;
  align-self: flex-start;
  font: var(--headline5);
  text-decoration: none;
}
